.flex-container {
    margin: 88px auto;
    width: 100%;
    outline: 3px solid;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-1 {
    background-color: red;
    color: #fff;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.flex-2 {
    background-color: blue;
    color: #fff;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.flex-3 {
    background-color: green;
    color: #fff;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}