.flex-container {
    margin: 88px auto;
    width: 40%;
    outline: 3px solid;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
}

.flex-1 {
    background-color: red;
    color: #fff;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
}

.flex-2 {
    background-color: blue;
    color: #fff;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
}

.flex-3 {
    background-color: green;
    color: #fff;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
}