@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto&display=swap');

body {
    background-color: #74b49b;
    font-family: 'Poppins', sans-serif;
}

div {
    background-color: #fff;
    border: 1px solid #000;
    padding: 12px;
    width: 60%;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
}

fieldset {
    margin-bottom: 12px;
}

legend {
    background-color: #74b49b;
    padding: 5px;
    border-radius: 25px;
    font-weight: 500;
}

img {
    border: 1px solid #000;
    border-radius: 25px;
    margin-bottom: 12px;
    float: left;
    margin-right: 20px;
}

